.App {
  text-align: center;
}

.headerBar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 5; }
  .div2 { grid-area: 1 / 6 / 2 / 7; 
    background-color: rgb(183, 196, 183);}

.user {
  grid-area: div2;
  background-color: rgb(183, 196, 183);
}

.articleList {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-content: center; */
  /* align-items: center; */
  }

  .articleCard {
    margin: 10px;
    flex: 400px;
    /* align-self: auto; */
    /* display:flex; */
    width:300px;
    /* margin: 10px; */
    /* font-size: 18px; */
    border-style: dashed;
  }

  ul {
    list-style-type: none;
  }

  .navButtons {
    background-color: rgb(85, 129, 85);
    margin: 5px;
    padding:5px;
  }

  article {
    border: solid;
  }

  .body {
    text-align: left;
  }

  .title {
    font-size: 18;
  }

.author {
  text-align: left;
}

  .topic {
    text-align: left;
  }